@include font-face(Aleo, 'fonts/aleo/aleo-regular-webfont');
@include font-face(Aleo, 'fonts/aleo/aleo-bold-webfont');

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	padding: 15px;
	font: 400 16px 'Josefin Sans', sans-serif;
	color: #fff;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}





